*{
    padding:0;
    margin:0;
}

body{
   font-family: "Young Serif", serif; 
}

.container{
    padding: 50px;
}

.sec-one{
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.sec_one__contact{
    background-color: orangered;
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    border-radius: 5px;
    margin-top: 10px;
}

.sec-one__name{
    font-size: 35px;
}

.sec-one__role{
    font-size: 30px;
    margin-top: 10px;
}

.sec-two, .sec-three, .sec-four, .sec-five{
    margin-top: 20px;
}

.sec-two__desc, .sec-three__desc, .sec-four__desc, .sec-five__desc{
    margin-top: 10px;
}

.sec-five{
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.sec-five__title a{
    color: skyblue;
}

.sec-three{
    background-color: blue;
    padding :10px;
    padding-left: 20px;
    border-radius: 10px;
    display: inline-block;
    height: 200px;
    vertical-align: top;
}

.sec-four{
    background-color: orange;
    padding :10px;
    padding-left: 20px;
    border-radius: 10px;
    display: inline-block;
    height: 200px;
    vertical-align: top;
}

.sec-three__desc li, .sec-four__desc li{
    list-style: none;
}